*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}

:root {
    --darkGreen: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --gray: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --head: 2rem;
    --text: 1rem;
}

img {
    max-width: 100%;
}

.container {
  min-height: 100vh;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box {
  margin: 1em 2em;
  max-width: 400px;
  background-color: white;
  border-radius: 1.5em;
}

.desktop_img {
  display: none;
}

.mobile_img {
  border-radius: 1em 1em 0 0;
}

.card_text {
  text-align: left;
  margin: 1.5em 2em;
}

.product {
  font-size: var(--text);
  color: var(--gray);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: 500;
}

.product_title {
  font-size: var(--head);
  font-weight: 700;
  font-family: "Fraunces", serif;
  line-height: 1;
  margin: 0.6em 0 0.7em 0;
}

.description {
  font-family: "Montserrat", sans-serif;
  width: 96%;
  font-size: var(--text);
  color: var(--gray);
  font-weight: 500;
  margin-bottom: 1.5em;
}

.text_green {
    margin-right: 0.3em;
    color: var(--darkGreen);
}

.strike_text {
    text-decoration: line-through;
    align-self: center;
}

.btn {
    display: block;
    margin: 2em 0 1em 0;
    background-color: var(--darkGreen);
    width: 100%;
    padding: 1em 0;
    color: var(--white);
    border: 0;
    border-radius: 0.7em;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(158, 36%, 37%);
}

.btn_img {
    margin-right: 1em;
    max-width: 100%;
}

.btn_text {
    color: var(--white);
}

/* For smaller screen */
/* @media (max-width: 260px) {
  :root {
    --head: 1.3rem;
    --text: 0.9rem;
  }

  .card-box {
    margin: 1em;
    max-width: 200px;
  }

  .card-box {
    max-width: 200px;
  }

  .card_text {
    text-align: left;
    margin: 1.5em 0.6em;
  }

  .btn {
    padding: 0.6em 0;
  }
} */

/* For Pc & HD+ screen */
@media (min-width: 650px) {
    .card-box {
        display: flex;
        max-width: 700px;
    }

    .desktop_img {
        display: block;
        width: 900px;
        height: 100%;
        border-radius: 1.5em 0 0 1.54em;
    }

    .mobile_img {
        display: none;
    }

    .product_title {
        width: 80%;
    }
}

/* For 4K & Full HD+ screen */
/* @media (min-width: 1921px) {
  :root {
    --head: 5rem;
    --text: 2rem;
  }

  .card_text {
    text-align: left;
    margin: 4em 2.5em;
  }

  .card-box {
    margin: 1em;
    max-width: 1200px;
  }

  .desktop_img {
    width: 1600px;
    height: 100%;
  }

  .btn {
    padding: 2em 0;
  }
} */