*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-pink{
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    color: white;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    position: relative;
    z-index: 1;
}

.btn-pink::before{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.8s;
    z-index: -1;
}

.btn-pink:hover::before{
    transform: scaleX(1);
    cursor: pointer;
}