@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

.homepage_bg {
    background: url('../src/assets/Images/bghome.svg')
}

/* https://10015.io/tools/css-loader-generator */
.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #f1f2ff;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
      spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
}

12.5% {
    clip-path: polygon(
    50% 50%,
    0 0,
    50% 0%,
    100% 0%,
    100% 0%,
    100% 0%,
    100% 0%
    );
}

25% {
    clip-path: polygon(
    50% 50%,
    0 0,
    50% 0%,
    100% 0%,
    100% 100%,
    100% 100%,
    100% 100%
    );
}

50% {
    clip-path: polygon(
    50% 50%,
    0 0,
    50% 0%,
    100% 0%,
    100% 100%,
    50% 100%,
    0% 100%
    );
}

62.5% {
    clip-path: polygon(
    50% 50%,
    100% 0,
    100% 0%,
    100% 0%,
    100% 100%,
    50% 100%,
    0% 100%
    );
}

75% {
    clip-path: polygon(
    50% 50%,
    100% 100%,
    100% 100%,
    100% 100%,
    100% 100%,
    50% 100%,
    0% 100%
    );
}

100% {
    clip-path: polygon(
    50% 50%,
    50% 100%,
    50% 100%,
    50% 100%,
    50% 100%,
    50% 100%,
    0% 100%
    );
}
}

@keyframes spinner-oaa3wk {
0% {
    transform: scaleY(1) rotate(0deg);
}

49.99% {
    transform: scaleY(1) rotate(135deg);
}

50% {
    transform: scaleY(-1) rotate(0deg);
}

100% {
    transform: scaleY(-1) rotate(-135deg);
}
}

.lable-style {
@apply text-[14px] text-richblack-5;
}
.form-style {
@apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}

